body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 70vh;
    background-color: grey;
    border-radius: 10px;
    align-items: center;
    margin: 15vh auto;
    max-width: 360px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    z-index: 1;

    
}


#screen {
    width: 80vw;
    justify-content: center;
    width: 70%;
    height: 10%;
    background-color: ivory;
    align-items: center;
    z-index: 2;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.35);
    margin-bottom: 20px;
    
}

.number, .operand {
    padding: 2px;
    margin: 2px;
    width:15vw;
    height: 15vw;
}

#result {
    background-color: gold;
}

.operand {
    background-color: rgb(115, 79, 148);
}

#digits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    height: 50%;
    justify-self: center;
    align-items: center;
    font-size: 1.5rem;
}