body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 70vh;
    background-color: #707070;
    border-radius: 10px;
    align-items: center;
    margin: 15vh auto;
    max-width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    z-index: 1;
    padding: 16px;

    
}
#logo {
    align-self: flex-start;
    width: 90px;
    height: 90px;
    margin-left:20px;
    margin-bottom: 20px;
 

}
#logo img {
    
    max-width: 100px;
    object-fit: contain;

    
}

#screen {
    width: 80vw;
    justify-content: center;
    width: 90%;
    height: 12%;
    background-color: ivory;
    align-items: center;
    z-index: 2;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.35);
    margin-bottom: 50px;
    
}

.number, .operand {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border: 1px solid #5e5d5d;
    border-radius: 5px;
}

#equal {
    background-color: gold;
}

.operand {
    background-color: rgb(115, 79, 148);
}

#digits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 50%;
    justify-self: center;
    align-items: center;
    font-size: 1.5rem;
    max-width: 300px;
    box-sizing: border-box;
    gap: 3px;
}

#clear {
    background-color: rgba(220, 151, 22, 0.827);
    color: white;
    padding: 3px;
    margin: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border: 1px solid #5e5d5d;
    border-radius: 5px;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#display {
    vertical-align: middle;
    font-size: 1.5rem;
    padding: 5px;
    text-align: right;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}